@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lora');


#entire-container {
	width: 1000px;
	margin-left: 100px;
	margin-right: 100px;
}
header {
	background-color: white;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size:35px;
	line-height: 100%;
	vertical-align: middle;
	margin-bottom: 0px;
}

h2 {
	width: 1000px;
	border-bottom-style: solid;
	border-bottom-color: green;
	border-bottom-width: 1.5px;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
	font-size:24px;
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-size:18px;
}

p {
	font-family: 'Lora', serif;
	font-size: 14px;
}
a {
	text-decoration: none;
	color: orange;
}

.header {
	display: inline-block;
}
#papayapineapple {
	width: 30px;
	line-height: 100%;
}
#name {
	padding-top: 20px;
}
#hamburger-container {
	float:right;
	padding-top: 40px;
}
#hamburger {
	width: 30px;
}

.about {
	display: inline-block;
}
#maya-picture {
	padding-top: 20px;
	width:400px;
	padding-bottom: 30px;
}
#about {
	width: 470px;
	padding-left: 30px;
	padding-top: 35px;
	vertical-align: top;
}
#quote {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: green;
	text-align: middle;
	width: 400px;
	margin-left: 35px;
}
#case-studies-container {
	width: 1000px;
}
.container {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	padding: 30px;
}
#aakash-ganga-pic {
	width: 250px;
}
.case-studies-button {
	border: 2px solid orange;
	background-color: white;
}
#contact-me-container {
	width: 1000px;
}
.icon {
	width: 30px;
}
#icons {
	text-align: center;
	padding-top: 30px;
}